In [1]:
# Imports
import numpy as np
import pandas as pd
import json

In [2]:
# Investigate the shapes file
with open('../shapes.json') as f:
    shapes = json.load(f)

In [10]:
shapes_df = pd.DataFrame(shapes)
shapes_df

,id,name,created_at,updated_at,stype,family,functional_cat,design,items_count
0,510,Alabastron,2019-03-20T05:36:42.451Z,2019-03-20T05:36:42.451Z,None,None,None,None,0
1,511,Amphora,2019-03-20T05:36:42.459Z,2019-03-20T05:36:42.459Z,None,None,None,None,0
2,512,Amphoriskos,2019-03-20T05:36:42.464Z,2019-03-20T05:36:42.464Z,None,None,None,None,0
3,513,Archive jar,2019-03-20T05:36:42.471Z,2019-03-20T05:36:42.471Z,None,None,None,None,0
4,514,Aryballos,2019-03-20T05:36:42.476Z,2019-03-20T05:36:42.476Z,None,None,None,None,0
...,...,...,...,...,...,...,...,...,...
164,743,Cooking pot,2021-09-02T12:49:25.911Z,2021-09-02T12:49:25.911Z,None,None,None,None,0
165,744,Lekanis (Covered bowl),2022-03-28T16:48:25.657Z,2022-03-28T16:48:25.657Z,None,None,None,None,0
166,745,Stamnos,2022-05-16T13:19:57.416Z,2022-05-16T13:19:57.416Z,None,None,None,None,0
167,746,Lantern,2022-07-11T22:05:45.489Z,2022-07-11T22:05:45.489Z,None,None,None,None,0
168,747,Beer jar,2022-09-14T20:22:17.715Z,2022-09-14T20:22:17.715Z,None,None,None,None,0

In [4]:
# Open the vessels file
with open('../vessels.json') as f:
    vessels = json.load(f)
vessels_df = pd.DataFrame(vessels)

In [5]:
# Open the images file
with open('../images.json') as f:
    images = json.load(f)
images_df = pd.DataFrame(images)

In [21]:
# Investigate the images dataframe
images_df
cat_cols = images_df.select_dtypes(include = 'object').columns
for col in cat_cols:
    print(col)
    print(images_df[col].value_counts())
    print()

cat
Pot Photograph      12572
Thin-Section        10870
Drawing             10528
Break Photograph     3471
Pot Photo              40
Break Photo            28
Pot Photogtaph         14
photo                  12
Photograph              7
Photography             7
Pot photograph          6
drawing                 3
break                   2
Petrography             1
break photograph        1
Name: cat, dtype: int64

created_at
2012-09-10T16:11:31.052Z    1
2021-03-02T12:38:02.137Z    1
2021-03-01T21:24:08.226Z    1
2021-03-01T21:27:33.901Z    1
2021-03-01T21:27:39.058Z    1
                           ..
2017-05-24T15:12:27.409Z    1
2017-05-24T15:16:28.298Z    1
2017-05-24T16:13:17.537Z    1
2017-05-24T16:13:18.339Z    1
2022-11-21T15:58:53.575Z    1
Name: created_at, Length: 37622, dtype: int64

updated_at
2013-10-07T21:46:35.124Z    1
2021-04-04T10:55:47.274Z    1
2021-03-01T21:24:08.226Z    1
2021-03-01T21:27:33.901Z    1
2021-03-01T21:27:39.058Z    1
                           ..
2017-05-24T15:12:27.409Z    1
2017-05-24T15:16:28.298Z    1
2017-05-24T16:13:17.537Z    1
2017-05-24T16:13:18.339Z    1
2022-11-21T15:58:53.575Z    1
Name: updated_at, Length: 37622, dtype: int64

avatar_file_name
data                          431
VP_Ku_Hur_samples.jpg          11
VP_phil_surv_1_9.jpg            9
VP_phil_surv_15_21_a.jpg        7
VP_phil_surv_15_21_b.jpg        7
                             ...
open-uri20180320-4-qh0nzr       1
open-uri20180320-4-1voc9da      1
open-uri20180320-4-1nr37v3      1
open-uri20180320-4-pcrrpx       1
open-uri20221121-4-8t70d6       1
Name: avatar_file_name, Length: 36532, dtype: int64

avatar_content_type
image/jpeg                  33246
image/tiff                   2012
image/png                    1501
image/bmp                     377
application/pdf                91
image/pjpeg                    86
image/gif                      49
application/octet-stream        2
application/excel               1
Name: avatar_content_type, dtype: int64

avatar_updated_at
2012-09-10T16:11:29.810Z    1
2021-02-28T18:59:02.421Z    1
2021-03-01T20:15:33.927Z    1
2021-03-01T20:45:59.231Z    1
2021-03-01T20:46:03.094Z    1
                           ..
2017-09-18T04:58:47.968Z    1
2017-10-03T10:08:11.862Z    1
2017-10-03T10:08:14.749Z    1
2017-10-03T10:10:59.139Z    1
2022-11-21T15:58:53.270Z    1
Name: avatar_updated_at, Length: 37365, dtype: int64

mag
           3065
X100        365
X50         278
1x50        263
50          233
           ...
XPL x40       1
PPL x40       1
200X          1
2x            1
200 mm        1
Name: mag, Length: 61, dtype: int64

polarized
XPL      8449
PPL      1877
          648
false      46
2           2
Name: polarized, dtype: int64

location
                                             1515
IFAO, Cairo                                    25
Jerusalem, HUJI                                 2
3                                               2
IAA                                             2
IFAO                                            2
New York                                        1
Israel Antiquities Authority, Akko office       1
Jerusalem HUJI                                  1
Coptos                                          1
field width 1.5 mm                              1
IAA laboratory                                  1
Rim and neck                                    1
Name: location, dtype: int64

misc
                                                                                                                                                                                  118
A.9:71.85                                                                                                                                                                           6
J.2:24.56\r\nAila 1a\r\n65x magnification                                                                                                                                           6
O.9:28.45\r\nAila 2                                                                                                                                                                 4
Avshalom-Gorni D., Abu-Uksa H. and Shapiro A. forthcoming. Excavation at Horbat Ovesh: Final Report. ‘Atiqot                                                                        4
                                                                                                                                                                                 ...
Schmid et al 2000: abb. 79-82                                                                                                                                                       1
K.12:7.11\r\n70x magnification                                                                                                                                                      1
K.11:0.73                                                                                                                                                                           1
K.11:0.73\r\n65x magnification                                                                                                                                                      1
Stern E.J. 2014. The Crusader, Mamluk and Early Ottoman-Period Pottery from Khirbat Din‘ila: Typology, Chronology, Production and Consumption Trends. 'Atiqot 78:91, Fig. 10:6      1
Name: misc, Length: 75, dtype: int64

acknowledgement
                                                                                                                                                                                                                                                                   14423
Grady Gillett                                                                                                                                                                                                                                                        564
S. Brooks                                                                                                                                                                                                                                                            422
Olga Dubovsky                                                                                                                                                                                                                                                        304
Chaundra R. Anderson                                                                                                                                                                                                                                                 296
                                                                                                                                                                                                                                                                   ...
Please note that this photo includes TWE-A-00144-C-001-002-003-004-005, which might have come from the same large vessel as TWE-A-00144-C-022. Photographs were taken by B. Vandermeulen, K. Vansteenhuyse, H. Hameeuw, Karin Nys and Karmen Middernacht.              1
Please note that this image includes TWE-A-00144-C-022, a bull horn that might have come from the same vessel as TWE-A-00144-C-001-002-003-004-005. Photographs were taken by B. Vandermeulen, K. Vansteenhuyse, H. Hameeuw, Karin Nys and Karmen Middernacht.         1
Christina Kolb/Christina Kolb                                                                                                                                                                                                                                          1
Barak Monnickendam-Givon                                                                                                                                                                                                                                               1
Gaby Larom                                                                                                                                                                                                                                                             1
Name: acknowledgement, Length: 255, dtype: int64

privacy_status
Series([], Name: privacy_status, dtype: int64)